.my_banner{
    background:url(/AIUser/images/timg2.jpg) no-repeat 0px 0px;
    background-size:cover;
    min-height:294px;
    position: relative;
    width: 100%;min-width: 1200px;
    margin: 0 auto;
}

.my_hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: absolute;
    top: 3%;
    width: 32px;
    z-index: 999;
}

.my_container{
    float: left;
    min-width: 35%;
    background-color: white;
    border: 1px solid gray;
    width: 400px;
    margin: 50px 20px auto;
    padding: 30px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 22px;"
}

.my_controls{
    margin: 8px auto ;
}