<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AI开放平台-以语音交互为核心的人工智能开放平台</title>

    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <!-- Custom Theme files -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="AI语音转文字,AI文字转语音,AI语音tts,AI语音api,androidAI语音,AI语音开放平台,AI语音技术,AI开放平台,AI语音云平台,语音识别,语音合成,人脸识别,语音交互，语音搜索,语音SDK,开放统计,语音唤醒,语义理解,声纹识别,语音交互广告,智能语音" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/module/index.2c797806eeee5aa835bef96e6843476c.css}" />-->
    <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}" />
    <!--<link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" />-->
</head>
<body>
<!-- header-section-starts -->
<div id="header" th:insert="fragments/fragment::header"></div>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <div id="Sidebar" th:insert="fragments/fragment::sidebar"></div>
    <div id="page-content-wrapper">
        <button id="navbutton" type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas" >
            <span class="hamb-top" style="background-color: black"></span>
            <span class="hamb-middle" style="background-color: black"></span>
            <span class="hamb-bottom" style="background-color: black"></span>
        </button>
        <div>
            <div class="my_banner" th:style="'background:url(\''+@{/images/timg2.jpg}+'\') no-repeat 0px 0px;background-size:cover;min-height:294px;position: relative;width: 100%;min-width: 1200px;margin: 0 auto;'">
                <div class="my_container" style="float: left;margin-top: 40px;margin-left: 10px;min-width: 30%;background-color: white;border: 1px solid gray;width: 400px;margin: 50px auto;padding: 30px;font-family: sans-serif;font-size: 14px;border-radius: 22px;">
                    <div class="my_banner_info" style="margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;">
                        <h2 style="font-size: 40px;font-weight: bolder;color: black;margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;">语音听写</h2>
                        <br/>
                        <p style="color: black">把语音(≤60秒)转换成对应的文字信息，让机器能够“听懂”人类</p>
                        <br/>
                        <p style="color: black">语言，相当于给机器安装上“耳朵”，使其具备“能听”的功能</p>
                    </div>
                </div>
            <div style="float: left; position: relative; text-align: center; margin: 30px 40px;">
                                        <span onclick="handleVoice2()" class="fa fa-microphone"
                                              style="font-size: 70px; cursor: pointer; color: rgb(255, 255, 255); position: absolute; top: 70px; left: 80px;"></span>
                <canvas height="200" width="200" onclick="handleVoice2()" class="circle-wave"
                        style="cursor: pointer;"></canvas>
                <div class="text-center">开始语音转写</div>
            </div>
        </div>
        <div class="audio-text" style="padding: 0px 0px 0px;clear: both;">
            <div id="iat" class="service-item">
                <div class="main-content-wrapper clearfix">
                    <div class="main-content clearfix">
                        <div class="banner-service">
                            <div class="voice-wrap" style="margin-bottom: 0px; height: 233px;">
                                <div class="voice-listen" style="padding-bottom: 0px; height: 208px;width: 100%;">
                                    <div style="height: 190px; position: relative;">
                                        <div title="" class="device-name"
                                             style="position: absolute; top: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 290px; padding: 2px 0px;">

                                        </div>
                                        <div class="severBox" id="voiceFir" style="float: left; height: 100%;width: 40%;margin-left: 30px;">
                                            <div id="statusBar" style="display: none;"></div>
                                            <div class="controls">
                                                <div class="btn btn-danger" onclick="showConfig2();">配置</div>
                                                <div class="btn btn-danger" onclick="clearLog2();">清除日志</div>
                                                <div class="btn btn-danger" onclick="clearResult2()">清除结果</div>
                                                <div class="btn btn-danger" onclick="exportVoice2()">导出语音</div>
                                            </div>
                                            <pre id="log" style="height: 80%;"></pre>
                                        </div>
                                        <div style="float: left;height: 100%;width: 40%;margin-left: 10px;">
                                            <textarea id="trans" class="text-area" style="height: 80%;margin-top: 53px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toTop el-tooltip" style="display: none;"><span class="el-icon-arrow-up"></span></div>
    </div>
    <!--<script th:src="@{/js/jquery-1.7.1.min.js}" ></script>-->
    </div>
</div>
<!-- header-section-ends -->
<div id="footer" th:insert="fragments/fragment::footer"></div>
<script th:src="@{/js/view/main.js}"></script>
<script th:src="@{/js/voice-processing.js}" ></script>
<script th:src="@{/js/lib/dictate.js}"></script>
<script th:src="@{/js/lib/recorder.js}"></script>
<script th:src="@{/js/lib/demo.js}"></script>
<script th:src="@{/js/record-upload/mic-recorder.js}"></script>
<script th:src="@{/js/manifest.208cd90c1521811b0c99.js?26eb823d0896298c53dd}"></script>
<script th:src="@{/js/vendor.3d1c8a04268b9742287e.js?26eb823d0896298c53dd}"></script>
<script th:src="@{/js/module/index.17670862aec891136c91.js?26eb823d0896298c53dd}"></script>
</body>
</html>